<div class="row">
    <div class="col-4" *ngFor="let tarjeta  of listaTarjetas">
        <form [formGroup]="formularioFormGroup"
        (ngSubmit)="onClickGuardar(formularioFormGroup.value, tarjeta)">
        <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Tarjeta</h5>
                <img style="align-items: center;" [src]="tarjeta.image"  width="50px" alt="">
                <p class="card-text">{{tarjeta.name}}</p>
                <div class="row">
                    <div class="form-group">
                      <label class="form-control-label" for="descripcion">RUC Consignatario</label>
                      <input type="text" id="descripcion" formControlName="descripcion"
                             class="form-control form-control-alternative"
                             [ngClass]="{ 'is-invalid': formularioFormGroup.get('descripcion')!.errors&&
                             formularioFormGroup.get('descripcion')!.dirty  }">
                      <div *ngIf="formularioFormGroup.get('descripcion')!.errors&&
                      formularioFormGroup.get('descripcion')!.dirty "
                           class="invalid-feedback">Ingrese este campo.
                      </div>
                    </div>
                  </div>
                <button [disabled]="tarjeta.enable"  class="btn btn-primary">Enviar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
</div>

